main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 0 0 120px;
  background: #000;
}

main::before {
  position: absolute;
  content: "";
  left: 0;
  top: -80px;
  width: 100%;
  height: 200px;
  background: #000;
  filter: blur(50px);
}
