header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px;
  transition: 0.5s;
  z-index: 10000;
}

header.scrolled {
  background: #00050d8c;
  border-bottom: 2px solid var(--primary);
  border-image: linear-gradient(90deg, transparent, var(--primary), transparent)
    30;
  backdrop-filter: blur(20px);
  padding: 10px 100px;
}

.logo {
  width: 200px;
  height: 50px;
}
.logo img {
  width: 100%;
  height: 100%;
}

.nav {
  display: flex;
}

.favoriteList {
  display: flex;
  gap: 20px;
  font-size: 30px;
  color: white;
}
.favoriteList .list,
.favoriteList .bookmark {
  position: relative;
  cursor: pointer;
}

.favoriteList span {
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #1a98ff;
  font-size: 13px;
}

@media only screen and (max-width: 600px) {
  header {
    padding: 30px 20px;
  }
  header.scrolled {
    padding: 10px;
  }
  .logo {
    font-size: 25px;
  }
  .nav {
    display: none;
  }
}
