@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&family=Racing+Sans+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --primary: #1A98FF;
}
body {
  font-family: "roboto", sans-serif;
}

body::-webkit-scrollbar {
  display: none;
}
